---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";

// Typography
$base-font-family:    serif, "Adobe Caslon Pro", serif;
$caption-font-family: serif, "libre_baskervillebold", "Libre Baskerville", serif;
$banner-font-family:  serif;
$title-font-family:   serif;
$font-family-list:    sans;
$base-font-size:      16px;
$base-font-weight:    400;
$base-line-height:    1;
$base-letter-spacing: 0.00rem;

$title-font-weight:   bold;

$caption-font-style:  normal;
$caption-font-variant: sub;
$caption-letter-spacing: 0.02rem;

$post-date-font-size: $base-font-size * 0.85;

// Colours
$text-color:          #222;
$caption-text-color:  mix($text-color, #fff, 60%);
$post-title-color:    mix($text-color, #fff, 80%);
$headings-color:      $post-title-color;
$border-color:        mix(#fff, #000, 87%);
$background-color:    #ffffff;
$content-width:       750px;
$hover-color:         #443E40;
$legal-color:         mix($text-color, #fff, 55%);

// Blockquote
$quote-font-style:    italic;
$quote-padding:       0 0;
$quote-text-color:    $caption-text-color;

// Layout
$layout-width: 750px;

// Breakpoints
$desktop-breakpoint: $layout-width / 0.9;
$image-splitting-breakpoint: 510px;

// Banner
$banner-width: 223px;
$banner-height: 200px;
$banner-margin-top: 40px;
$banner-margin-bottom: 40px;
$banner-border-width: 0px;
$banner-border-offset: 2px;

// Highlighter
.highlighter-rouge {
  font-weight: bold;
}

// Images
// Note that extensions are omitted for use in retina-background-image mixin
$img-separator: '{{ site.baseurl }}/img/separator';
$img-banner: '{{ site.baseurl }}/img/brauen_garten';
$img-dude: '{{ site.baseurl }}/img/dude';
$img-location: '{{ site.baseurl }}/img/icon-location';
$img-berry: '{{ site.baseurl }}/img/icon-berry';

// Import partials from `sass_dir` (defaults to `_sass`)
@import
"mixins",
"vendors",
"base",
"layout",
"modules",
"fonts-init"
;
