<section class="receipt">
  <h2>Inhalt:</h2>

  {% assign beer = site.data.beer[page.beer] %}

  <p>EBC: {% calc_beer %}</p>

  <h3>Malz</h3>
  <ul>
    {% for malts in beer.malts %}
      {% assign name = malts[0] %}
      {% assign weight = malts[1] %}
      {% assign malt = site.data.malts[name] %}
      {% assign name = malt.name %}
      <li>{{ weight }}g {{ name }}
        <i>({{ malt.ebc }} EBC)</i>
      </li>
    {% endfor %}

    <p>Gesamtschüttung: {{ beer | get_sum_weight }}</p>
  </ul>

  {% if beer.mash %}
    <h3>Maischplan</h3>
    <ul class="square">
    {% for mash in beer.mash %}
      <li>{{mash}}</li>
    {% endfor %}
    </ul>
    {% comment %}{% include maischplan.svg %}{% endcomment %}
  {% endif %}

  <h3>Hopfen</h3>
  <ul>
    {% for hops in beer.hops %}
      {% assign hop = site.data.hops[hops.type] %}
      {% assign weight = hops.weight %}
      {% assign time = hops.time %}
      <li>{{ weight }}g {{ hop.name }} <i>({{ hop.alpha }}%&alpha;)</i> @{{ time }}
      </li>
    {% endfor %}
  </ul>

  <h3>Hefe</h3>
  <ul>
    {% comment %}
                }{% if beer.yeasts %}
                }  {% for yeasts in beer.yeasts %}
                }    {% assign yeast = site.data.yeasts[yeasts] %}
                }    <li>{{ yeast.name }}</li>
                }    {% assign yeast_type = yeast.type %}
                }  {% endfor %}
                }{% else if beer.yeast %}
                }  {% assign yeast = site.data.yeasts[beer.yeast] %}
                }  {% assign yeast_type = yeast.type %}
                }  <li>{{ yeast.name }}</li>
                }{% endif %}
                {% endcomment %}
  </ul>

  {% if yeast_type %}
    <h3>Typ: {{ yeast_type}}</h3>
  {% endif %}

  <h3>Meta</h3>
  <ul>
    {% for meta in beer.meta %}
      {% unless meta[0] == 'specific' %}
        <li>
        {% case meta[0] %}
        {% when 'stw' %}
          Stammwürze:
        {% when 'alc' %}
          Alkoholgehalt:
        {% when 'ibu' %}
          IBU (Bittereinheiten):
        {% else %}
          {{ meta[0] }}:
        {% endcase %}
        {{ meta[1] }}</li>
      {% endunless %}
    {% endfor %}

    {% if beer.meta.specific.lager %}
      {% assign lager = beer.meta.specific.lager %}
      <li>Lagerzeit: {{ lager }}
        {% unless lager == 1 %}
          Wochen
        {% else %}
          Woche
        {% endunless %}
      </li>
    {% endif %}

    <li>Nachisomerisierungszeit:
      {% unless beer.meta.specific.isom %}
        25
      {% else %}
        {{ beer.meta.specific.isom }}
      {% endunless %}
      Min. </li>
  </ul>

  {% if beer.orig %}
    <p>
    <small><a href="{{ beer.orig }}">Quellrezept</a></small>
    </p>
  {% endif %}
</section>
