<section class="receipt-footer">
  <h1 class="receipt-receipt">Rezept</h1>

  {% assign beer = site.data.beer[page.title] %}

  <h2>Malz</h2>
  {% for malts in beer.malts %}
    {% assign name = malts[0] %}
    {% assign weight = malts[1] %}
    {% assign malt = site.data.malts[name] %}
    <ul>
      <li>{{ weight }}g {{ name }}
        <i>({{ malt.ebc }} EBC)</i>
      </li>
    </ul>
  {% endfor %}

  <h2>Hopfen</h2>
  {% for hops in beer.hops %}
    {% assign name = hops[0] %}
    {% assign weight = hops[1].weight %}
    {% assign time = hops[1].time %}
    {% assign hop = site.data.hops[name] %}
    <ul>
      <li>{{ weight }}g {{ name }} <i>({{ hop.alpha }}%&alpha;)</i> @{{ time }}
      </li>
    </ul>
  {% endfor %}
</section>
