<section class="post receipt">
  <h3>Inhalt:</h3>

  {% assign beer = site.data.beer[page.beer] %}

  <table>
    {% if beer.water %}
      <tr>
        <td>Wasser</td>
        <td>{{beer.water}}l</td>
      </tr>
    {% endif %}

    <tr><th colspan=99>Malz</th></tr>
    <tr>
      <td>Typ</td>
      <td>Menge [<code>g</code>]</td>
      <td>EBC</td>
    </tr>
    {% for malts in beer.malts %}
      <tr>
      {% assign name = malts[0] %}
      {% assign weight = malts[1] %}
      {% assign malt = site.data.malts[name] %}
      {% assign name = malt.name %}
      <td>{{ name }}</td>
      <td>{{ weight }}</td>
      <td>{{ malt.ebc }}</td>
      </tr>
    {% endfor %}

    <td colspan=99>Gesamtschüttung: {{ beer | get_sum_weight }}</td>

    {% if beer.mash %}
      <tr><th colspan=99>Maischplan</th></tr>
      {% for mash in beer.mash %}
        <td>{{mash}}</td>
      {% endfor %}
    {% endif %}

    <tr><th colspan=99>Hopfen</th></tr>
    <tr>
      <td>Hopfen</td>
      <td>Menge [<code>g</code>]</td>
      <td>Zeitpunkt</td>
    </tr>
    {% for hops in beer.hops %}
    <tr>
      {% assign hop = site.data.hops[hops.type] %}
      {% assign weight = hops.weight %}
      {% assign time = hops.time %}
      <td>{{ hop.name }} <i>({{ hop.alpha }}%&alpha;)</i></td>
      <td>{{ weight }}</td>
      <td>{{ time }}</td>
    </tr>
    {% endfor %}

  {% if beer.yeasts %}
    <tr><th colspan=99>Hefen</th></tr>

    <tr>
      {% for yeasts in beer.yeasts %}
        {% assign yeast = site.data.yeasts[yeasts] %}
        <td>{{ yeast.name }}
        {% assign yeast_type = yeast.type %}

        {% if yeast_type %}
          ({{ yeast_type}})
        {% endif %}
        </td>
      {% endfor %}
    </tr>

  {% else if beer.yeast %}
    <tr><th colspan=99>Hefe</th></tr>
    <tr>
      {% assign yeast = site.data.yeasts[beer.yeast] %}
      {% assign yeast_type = yeast.type %}
      <td>{{ yeast.name }}</td>
      <td>{{ yeast_type}}</td>
    </tr>

  {% endif %}

    <tr>
      <th colspan=99>Meta</th>
    </tr>

    <tr>
      <td>EBC</td>
      <td>{% calc_beer %}</td>
    </tr>

    {% for meta in beer.meta %}
      {% unless meta[0] == 'specific' %}
    <tr>
      <td>
          {% case meta[0] %}
          {% when 'stw' %}
            Stammwürze:
          {% when 'alc' %}
            Alkoholgehalt:
          {% when 'ibu' %}
            IBU (Bittereinheiten):
          {% else %}
            {{ meta[0] }}:
            {% endcase %}</td>
          <td>{{ meta[1] }}</td>
      {% endunless %}
    </tr>
    {% endfor %}

    {% if beer.meta.specific.lager %}
      <tr>
        {% assign lager = beer.meta.specific.lager %}
        <td>Lagerzeit</td>
        <td> {{ lager }}
          {% unless lager == 1 %}
            Wochen
          {% else %}
            Woche
          {% endunless %}
        </td>
      </tr>
    {% endif %}

    <td>Nachisomerisierungszeit</td>
    <td>{% unless beer.meta.specific.isom %}
        25
      {% else %}
        {{ beer.meta.specific.isom }}
      {% endunless %}
      Min. </td>

    {% if beer.orig %}
      <td>Quellrezept</td>
      <td><a href="{{ beer.orig }}">Link</a></td>
    {% endif %}
  </table>
</section>
