@font-face {
    font-family: 'berylium';
    src: url('berylium-webfont.woff2') format('woff2'),
         url('berylium-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'berylium';
    src: url('beryliumbold-webfont.woff2') format('woff2'),
         url('beryliumbold-webfont.woff') format('woff');
    font-weight: bold;
    font-style: normal;

}




@font-face {
    font-family: 'berylium';
    src: url('beryliumbolditalic-webfont.woff2') format('woff2'),
         url('beryliumbolditalic-webfont.woff') format('woff');
    font-weight: bold;
    font-style: italic;

}




@font-face {
    font-family: 'berylium';
    src: url('beryliumitalic-webfont.woff2') format('woff2'),
         url('beryliumitalic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: italic;

}
