$category-line-height: 1.6;

$category-title-min-font-size: 24px;
$category-title-medium-font-size: 5vw;
$category-title-max-font-size: 42px;
// To transition smoothly from our middle font-size of 5vw, we
// must calculate the intersection of our minimum font size and
// 5 vertical widths, that is, when the browser width is 20 times 24px
// (note the calculation is done in reverse to remind us that we are using
// a value of 5%, or 0.05)
$category-title-medium-breakpoint: $category-title-min-font-size / 0.05;

$category-image-split-max-width: 365px;
$category-image-split-gutter: 20px;
$category-image-split-width: calc(50% - #{$category-image-split-gutter});
$category-image-caption-line-height: $category-line-height;
